<header>
  <div class="brand">
    <img src="assets/images/elmshire_title2.png" alt="TitleImage">
  </div>
  
  <nav [ngClass]="{'open': menuOpen}">
    <a routerLink="/home"    routerLinkActive="active" >Home</a>
    <a routerLink="/gallery" routerLinkActive="active" >Gallery</a>
    <a routerLink="/map"     routerLinkActive="active" >Map</a>
    <a routerLink="/events"  routerLinkActive="active" >Events</a>
    <a routerLink="/rules"   routerLinkActive="active" >Rules</a>

    <div class="align-right">
      @if(isLoggedIn$ | async) {
        <button routerLink="/login">
          Sign in
        </button>
      } 
      @else {
        <button (click)="onLogout()">
          Sign out
        </button>
      }
    </div>
  </nav>

  <button class="hamburger" (click)="toggleMenu()">
    |||
  </button>
</header>

<div class="main-content">
  <router-outlet/>
</div>

<footer class="main"></footer>
