@use 'colors' as theme;

@font-face {
  font-family: 'FFF Forward';
  src: url('/assets/fonts/FFFFORWA.TTF') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Pixel Georgia';
  src: url('/assets/fonts/Pixel Georgia.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Pixel Georgia Bold';
  src: url('/assets/fonts/Pixel Georgia Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

body {
  font-family: "FFF Forward", monospace;
  background-color: theme.$background-color;
  color: theme.$text-light-color;
  font-size: 12px;
  letter-spacing: 0.5px;
  margin: 0;
}

button.primary {
  font-size: 12px;
  font-family: "FFF Forward", monospace;
  cursor: pointer;

  background-color: theme.$primary-color;
  padding: 8px;
  padding-left: 16px;
  padding-right: 16px;

  border-color: theme.$text-light-color;
  border-style: none;
  border-width: 1px;

  box-shadow: 2px 2px 0px 0px theme.$text-dark-color;

  &:active {
    transform: translate(0, 2px);
  }

  &:hover {
    background-color: lighten(theme.$primary-color, 10%);
    color: theme.$text-light-color;
    box-shadow: 2px 2px 0px 0px theme.$text-light-color;
  }
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  font-style: italic;
  background-repeat: no-repeat;
  background-size: cover;
  shape-margin: 1rem;
}

section {
  padding-left: 5em;
  padding-right: 5em;

  margin-left: auto;
  margin-right: auto;

  max-width: 1200px;
}

form {
  margin-left: auto;
  margin-right: auto;

  width: 340px;
  padding: 1em;

  main {

    .item {
      display: flex;
      justify-content: space-between;
      margin-bottom: 0.5em;

      label {
        margin-right: 1em;
        flex-basis: 150px;
        overflow: hidden;
        white-space: nowrap;
        flex-grow: 4;
      }

      input {
        flex-grow: 1;
        max-width: 150px;
      }
    }

  }

  footer {
    margin-top: 1em;
    display: flex;
    justify-content: space-between;
    gap: 1em;
  }
}

a {
  color: theme.$text-light-color;;
}

.hidden {
  display: none;
}

.center-text {
  text-align: center;
}

.dropdown {
  display: inline-block;
  position: relative;
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%; /* Align below the button */
  left: -80px;
  z-index: 1000;
  min-width: 160px; /* Optional: Set width for the dropdown */
  padding: 10px;
  background-color: rgba(37, 35, 37, 0.815);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.dropdown.open .dropdown-menu {
  display: block;
}

.menu-buttons {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

button.icon-btn.plus-button {
  box-sizing: content-box;
  width: 16px;
  aspect-ratio: 1/1;
  cursor: pointer;
  border: 2px solid theme.$text-light-color;
  border-radius: 50%;

  /* Mittig */
  top: 50%;
  left: 50%;

  &:after {
    content: '';
    position: absolute;
    transform: translate(-50%, -50%);
    height: 2px;
    width: 66%;
    background: theme.$text-light-color;
  }
  
  &:before {
    content: '';
    position: absolute;
    transform: translate(-50%, -50%);
    height: 66%;
    width: 2px;
    background: theme.$text-light-color;
  }
  
  &:hover {
    background-color: #ffffff48;
    transition: 0.2s;

    &:before, &:after {
      transition: 0.2s;
    }
  }
}

button.icon-btn.dots-btn {
  font-family: monospace;
  font-size: 18px;
  padding-bottom: 16px;
  letter-spacing: -4px;
  transform: translate(-12px, -4px);
}

button.icon-btn {
  cursor: pointer;
  border: none;
  box-shadow: none;
  background-color: transparent;
  width: auto;
  height: auto;
  color: #f5f5f5;
  padding: 0;
}
