@use 'colors' as theme;

@font-face {
    font-family: 'FFF Forward';
    src: url('/assets/fonts/FFFFORWA.TTF') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Pixel Georgia';
    src: url('/assets/fonts/Pixel Georgia.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Pixel Georgia Bold';
    src: url('/assets/fonts/Pixel Georgia Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

body {
    font-family: "FFF Forward", monospace;
    background-color: theme.$background-color;
    color: theme.$text-light-color;
    font-size: 12px;
    letter-spacing: 0.5px;
    margin: 0;
}

button {
    font-size: 12px;
    font-family: "FFF Forward", monospace;

    background-color: theme.$primary-color;
    padding: 8px;
    padding-left: 16px;
    padding-right: 16px;
    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: 8px;
    margin-right: 8px;

    border-color: theme.$text-light-color;
    border-style: none;
    border-width: 1px;

    box-shadow: 2px 2px 0px 0px theme.$text-dark-color;

    &:active {
        margin-top: 4px;
        margin-bottom: 0px;
    }

    &:hover {
        background-color: lighten(theme.$primary-color, 10%);
        color: theme.$text-light-color;
        box-shadow: 2px 2px 0px 0px theme.$text-light-color;
    }
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    font-style: italic;
    background-repeat: no-repeat;
    background-size: cover;
    shape-margin: 1rem;
}
