<section>
  @if(isEditing) {
    <div>
      <div>Edit mode</div>
      <div class="actions">
        <button class="primary">Save</button>
        <button class="primary" (click)="toggleEditMode()">Cancel</button>
      </div>
    </div>
  }
  @else {
    <div class="actions">
      <button class="primary" (click)="toggleEditMode()">Edit</button>
    </div>
  }
</section>

<article *ngIf="(isEditing ? editedPost$ : post$) | async as post">
  <header>
    <!-- Editor -->
    @if (isEditing) {
      <h1 appEditable [editedClass]="'edited-header'">{{post.title}}</h1>
      <h2 appEditable [editedClass]="'edited-header'">{{post.description}}</h2>
      <img src="{{post.thumbnailUrl}}" alt="post thumbnail">
    }
    <!-- Regular -->
    @else {
      <h1>{{post.title}}</h1>
      <h2>{{post.description}}</h2>
      <img src="{{post.thumbnailUrl}}" alt="post thumbnail">
    }
  </header>

  <main>

    @if (isEditing) {
      <div class="add-node center-text" [ngClass]="{ 'always-visible': post.contents!.length < 1}" style="position: relative;">
        <div appDropdown class="dropdown">
          
          <button class="icon-btn plus-button dropdown-toggle" type="button"></button>
          
          <app-node-editor-dropdown [index]="-1"></app-node-editor-dropdown>
        </div>
      </div>
      }

    <div *ngFor="let content of post.contents; let i = index" class="content-node">

      <!-- Contents -->

      @if(content.type === 'paragraph.header') {
        <!-- Editor -->
        @if(isEditing) {
          <section *ngIf="content | asParagraphHeader as header">
            <h2 appEditable [editedClass]="'edited-header'">
              {{header.text}}
            </h2>
          </section>
        }
        <!-- Regular -->
        @else {
          <section *ngIf="content | asParagraphHeader as header">
            <h2 *ngIf="header.text">{{header.text}}</h2>
          </section>
        }
      }

      @if(content.type === 'paragraph.text') {
        <!-- Editor -->
        @if(isEditing) {
          <section *ngIf="content | asParagraph as paragraph">
            <p appEditable [editedClass]="'edited-paragraph'">
              {{paragraph.text}}
            </p>
          </section>
        }
        <!-- Regular -->
        @else {
          <section *ngIf="content | asParagraphHeader as paragraph">
            <p>
              {{paragraph.text}}
            </p>
          </section>
        }
      }

      @else if (content.type === 'image') {

        @if(isEditing) {
          <section *ngIf="content | asImage as image">
            <figure>
              @if(image.url) {
                <img [id]="'image-' + i" src="{{image.url}}" alt="{{image.label}}">
              }
              @else {
                <img [id]="'image-' + i" src="/assets/images/placeholder.png" alt="Empty image field">
              }
              
              <figcaption appEditable [editedClass]="'edited-label'" for="'image-' + i">{{image.label}}</figcaption>
            </figure>
          </section>
        }
        @else {
          <section *ngIf="content | asImage as image">
            <figure>
              <img [id]="'image-' + i" src="{{image.url}}" alt="{{image.label}}">
              <figcaption for="'image-' + i">{{image.label}}</figcaption>
            </figure>
          </section>
        }
        
      }

      @if (isEditing) {
        <div class="add-node add-node-after center-text" [ngClass]="{ 'always-visible': i === post.contents!.length - 1 }">
          <div appDropdown class="dropdown">
            
            <button class="icon-btn plus-button dropdown-toggle" type="button"></button>
            
            <app-node-editor-dropdown [index]="i"></app-node-editor-dropdown>
          </div>
        </div>
      }

    </div>
  </main>
</article>
