<section>
  @if(isEditing) {
    <div>
      <div>Edit mode</div>
      <div class="actions">
        <button class="primary" (click)="saveChanges()">Save</button>
        <button class="primary" (click)="toggleEditMode()">Cancel</button>
      </div>
    </div>
  }
  @else {
    <div class="actions">
      <button class="primary" (click)="toggleEditMode()">Edit</button>
    </div>
  }
</section>

<article *ngIf="(isEditing ? editedPost$ : post$) | async as post">
  <header>
    <!-- Editor -->
    @if (isEditing) {
      <h1 appEditable (contentChanged)="updateHeader({title: $event})">{{post.title}}</h1>
      <h2 appEditable (contentChanged)="updateHeader({description: $event})">{{post.description}}</h2>
      <div class="thumbnail-container">
        <img [src]="imagePreview || post.thumbnailUrl || '/assets/images/placeholder.png'" alt="Image preview">
        <app-image-upload (fileSelected)="onFileSelected($event)">Select an image</app-image-upload>
      </div>
    }
    <!-- Regular -->
    @else {
      <h1>{{post.title}}</h1>
      <h2>{{post.description}}</h2>
      <img src="{{post.thumbnailUrl}}" alt="post thumbnail">
    }
  </header>

  <main>

    @if (isEditing) {
      <div class="add-node center-text" [ngClass]="{ 'always-visible': post.contents!.length < 1}" style="position: relative;">
        <div appDropdown class="dropdown">
          
          <button class="icon-btn plus-button dropdown-toggle" type="button"></button>
          
          <app-node-editor-dropdown [index]="-1"></app-node-editor-dropdown>
        </div>
      </div>
      }

    <div *ngFor="let content of post.contents; let i = index" class="content-node">

      <!-- Contents -->
      @if(content.type === 'paragraph.header') {
        <app-post-paragraph-header [isEditing]="isEditing" [node]="content | asParagraphHeader" (updateNode)="updatePostContent(content.order, $event.data)"></app-post-paragraph-header>
      }

      @if(content.type === 'paragraph.text') {
        <app-post-paragraph [isEditing]="isEditing" [node]="content | asParagraph" (updateNode)="updatePostContent(content.order, $event.data)"></app-post-paragraph>
      }

      @else if (content.type === 'image') {
        <app-post-image [isEditing]="isEditing" [node]="content | asImage" (updateNode)="updatePostContent(content.order, $event.data)"></app-post-image>
      }

      @if (isEditing) {
        <div class="add-node add-node-after center-text" [ngClass]="{ 'always-visible': i === post.contents!.length - 1 }">
          <div appDropdown class="dropdown">
            
            <button class="icon-btn plus-button dropdown-toggle" type="button"></button>
            
            <app-node-editor-dropdown [index]="i"></app-node-editor-dropdown>
          </div>
        </div>
      }

    </div>
  </main>
</article>
