@if(isEditing) {
<section *ngIf="node as image">
  <figure class="image-selection">
    @if(image.data.url) {
      <img [id]="'image-' + node.id" src="{{image.data.url}}" alt="{{image.data.label}}">
      <button class="primary" (click)="triggerFileInput()">
        Select new image file
      </button>
    }
    @else if(imagePreview) {
      <img [src]="imagePreview" alt="Image Preview" />
      <button class="primary" (click)="triggerFileInput()">
        Select new image file
      </button>
    }
    @else {
      <img [id]="'image-' + node.id" src="/assets/images/placeholder.png" alt="Empty image field">
      <button class="primary" (click)="triggerFileInput()" style="display: block">
        Select image file
      </button>
    }
    <input #fileInput class="file-input" type="file" (change)="onFileSelected($event)"/>

    <figcaption appEditable for="'image-' + i" (contentChanged)="onModelChange({label: $event})">{{image.data.label}}
    </figcaption>
  </figure>
</section>
}
@else {
<section *ngIf="node as image">
  <figure>
    <img [id]="'image-' + node.id" src="{{image.data.url}}" alt="{{image.data.label}}">
    <figcaption for="'image-' + i">{{image.data.label}}</figcaption>
  </figure>
</section>
}