@if(isEditing) {
<section *ngIf="node as image">
  <figure class="image-selection">
    <div style="position: relative;">
      <img [src]="imagePreview || image.data.url || '/assets/images/placeholder.png'" alt="Image preview">
      <app-image-upload (fileSelected)="onFileSelected($event)">Select an image</app-image-upload>
    </div>
    <figcaption appEditable for="'image-' + i" (contentChanged)="onModelChange({label: $event})">{{image.data.label}}
    </figcaption>
  </figure>
</section>
}
@else {
<section *ngIf="node as image">
  <figure>
    <img [id]="'image-' + node.id" src="{{image.data.url}}" alt="{{image.data.label}}">
    <figcaption for="'image-' + i">{{image.data.label}}</figcaption>
  </figure>
</section>
}